<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>White House Petitions.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>3FA6D3A41DA3F2A90034E112</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3FA6D3B81DA3F2A90034E112</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3FA6D3C31DA3F2A90034E112</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
